# Nginx set up
DOMAIN=
ORGANISATION=
CITY=
COUNTRY=
# Certificates
SSL_CERT=
SSL_KEY=
# Mariadb set up
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
# Wordpress set up
WP_ADMIN_USER=
WP_ADMIN_EMAIL=
WP_ADMIN_PASS=
WP_USER=
WP_EMAIL=
WP_USER_PASS=
