# Nginx set up
DOMAIN=bverdeci.42.fr
ORGANISATION=42
CITY=Lausanne
COUNTRY=CH
# Certificates
SSL_CERT=/run/secrets/ssl_cert
SSL_KEY=/run/secrets/ssl_key
# Mariadb set up
MARIADB_DATABASE=wordpress
MARIADB_USER=bverdeci
# Wordpress set up
WP_ADMIN_USER=supervisor
WP_ADMIN_EMAIL=supervisor@wp.com
WP_USER=bverdeci42
WP_EMAIL=bverdeci@42Lausanne.com
WP_USER_PASS=1234
